<section>
  <div class="welcome-page">
    <div class="text-center">
      <h3>Scheduling App</h3>
    </div>
  </div>
</section>
<section>
  <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
</section>

<section>
  <div class="col-md-12 float-right">
    <button type="button" (click)="addSchedule()" class="btn btn-success mb-2"><i class="fa fa-plus" title="Edit"></i>
      Add Schedule</button>
  </div>
  <div class="card bg-light">
    <div class="card-body">
      <form [formGroup]="searchForm" class="form-inline">
        <div class="form-group mb-2">
          <label class="sr-only">Schedule Name</label>
          <input type="text" class="form-control" formControlName="studioName" placeholder="name">
        </div>
        <div class="form-group mx-sm-3 mb-2">
          <label class="sr-only">Date</label>
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="dateValue" ngbDatepicker #d="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i class="fa fa-calendar"></i></button>
            </div>
          </div>
        </div>
        <button type="button" (click)="searchSchedules()" class="btn btn-primary mb-2" [disabled]="searchForm.invalid">Search</button>
      </form>
    </div>
  </div>
  <div class="card bg-light">
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Studio Name</th>
            <th scope="col">Slots</th>
            <th scope="col">Action</th>
            <!-- <th scope="col"></th> -->
          </tr>
        </thead>
        <tbody *ngFor="let item of schedulesList;index as i">
          <tr>
            <th scope="row">{{i+1}}</th>
            <td>{{item.date}}</td>
            <td>{{item.studioName}}</td>
            <td><a href="javascript:void(0);" (click)="displaySlotsFn(item)">{{item.studioScheduleSlotList?.length}}</a></td>
            <td><a href="javascript:void(0);" (click)="displayEditFn(item)"><i class="fa fa-edit"></i></a> &nbsp;&nbsp;
              <a href="javascript:void(0);" (click)="confirmScheduleDelete(item)"><i class="fa fa-trash"></i></a></td>
            <!-- <td></td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <p-dialog header="Slots" [(visible)]="displaySlots" [modal]="true" [responsive]="true" [style]="{width: '1000px', hight:'300px'}"
    [minY]="70" [maximizable]="true" [baseZIndex]="10000">
    <div class="row float-right">
      <button type="button" (click)="displayAddSlotFn()" class="btn btn-success mb-2"><i class="fa fa-plus" title="Edit"></i>
        Add Slot</button>
    </div>
    <div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Start Time</th>
            <th scope="col">End Time</th>
            <th scope="col">Faculty</th>
            <th scope="col">Assigner Name</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of scheduleObj?.studioScheduleSlotList;index as i;index as in">
          <tr>
            <th scope="row">{{i+1}}</th>
            <td>{{item.startTime}}</td>
            <td>{{item.endTime}}</td>
            <td>{{item.faculty}}</td>
            <td>{{item.assignerName}}</td>
            <td><a href="javascript:void(0);" (click)="deleteRowInSlots(in)"><i class="fa fa-trash"></i></a></td>
          </tr>
        </tbody>
      </table>
    </div>
    <form *ngIf="showSlotAdd">
    <div class="row" [formGroup]="createSlotForm">
      <div class="col">
        <div class="form-group">
          <label for="formGroupExampleInput">Start Time</label>
          <ngb-timepicker formControlName="startTimeValue" [seconds]="true"></ngb-timepicker>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="formGroupExampleInput">End Time</label>
          <ngb-timepicker formControlName="endTimeValue" [seconds]="true"></ngb-timepicker>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="formGroupExampleInput">Faculty</label>
          <input type="text" class="form-control" id="formGroupExampleInput" formControlName="faculty" placeholder="Faculty">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="formGroupExampleInput">Assigner Name</label>
          <input type="text" class="form-control" id="formGroupExampleInput" formControlName="assignerName" placeholder="AssignerName">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="formGroupExampleInput">Action</label><br>
          <button type="button" class="btn btn-primary" [disabled]="createSlotForm.invalid" (click)="addRowInAddSlots(createSlotForm.value)">Add</button>
        </div>
      </div>
    </div>
    </form>
    <p-footer>
      <button class="btn btn-sm btn-danger" (click)="displaySlots=false">Close</button>
    </p-footer>
  </p-dialog>
</section>

<!-- Add Schedule -->
<section>
  <p-dialog header="Add Schedule" [(visible)]="displayAddSchedule" [modal]="true" [responsive]="true" [style]="{width: '1000px', hight:'300px'}"
    [minY]="70" [maximizable]="true" [baseZIndex]="10000">
    <form>
      <div class="row" [formGroup]="createForm">
        <div class="col">
          <div class="form-group">
            <label for="formGroupExampleInput">Studio Name</label>
            <input type="text" class="form-control" id="formGroupExampleInput" formControlName="studioName" placeholder="Studio Name">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="formGroupExampleInput">Date</label>
            <br>
            <div class="form-group mx-sm-3 mb-2">
              <label class="sr-only">Date</label>
              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="dateValue"
                  ngbDatepicker #d="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h4>Slots:</h4>
      <hr>
      <table class="table" *ngIf="createSlotsList.length > 0">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Start Time</th>
            <th scope="col">End Time</th>
            <th scope="col">Faculty</th>
            <th scope="col">Assigner Name</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of createSlotsList;index as i">
          <tr>
            <th scope="row">{{i+1}}</th>
            <td>{{item.startTime}}</td>
            <td>{{item.endTime}}</td>
            <td>{{item.faculty}}</td>
            <td>{{item.assignerName}}</td>
            <td><a href="javascript:void(0);" (click)="deleteRowInSlots(item)">Remove</a></td>
          </tr>
        </tbody>
      </table>
      <div class="row" [formGroup]="createSlotForm">
        <div class="col">
          <div class="form-group">
            <label for="formGroupExampleInput">Start Time</label>
            <ngb-timepicker formControlName="startTimeValue" [seconds]="true"></ngb-timepicker>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="formGroupExampleInput">End Time</label>
            <ngb-timepicker formControlName="endTimeValue" [seconds]="true"></ngb-timepicker>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="formGroupExampleInput">Faculty</label>
            <input type="text" class="form-control" id="formGroupExampleInput" formControlName="faculty" placeholder="Faculty">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="formGroupExampleInput">Assigner Name</label>
            <input type="text" class="form-control" id="formGroupExampleInput" formControlName="assignerName"
              placeholder="AssignerName">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="formGroupExampleInput">Action</label><br>
            <button type="button" class="btn btn-primary" [disabled]="createSlotForm.invalid" (click)="addRowInSlots(createSlotForm.value)">Add</button>
          </div>
        </div>
      </div>
    </form>
    <p-footer>
      <button class="btn btn-sm btn-success" (click)="saveSchedule()" [disabled]="createForm.invalid || createSlotsList.length == 0">Save</button>
      &nbsp;&nbsp;&nbsp;
      <button class="btn btn-sm btn-danger" (click)="displayAddSchedule=false">Close</button>
    </p-footer>
  </p-dialog>
</section>


<!-- Add Schedule -->
<section>
  <p-dialog header="Edit Schedule" [(visible)]="displayEditSchedule" [modal]="true" [responsive]="true" [style]="{width: '1000px', hight:'300px'}"
    [minY]="70" [maximizable]="true" [baseZIndex]="10000">
    <form>
      <div class="row" [formGroup]="createForm">
        <div class="col">
          <div class="form-group">
            <label for="formGroupExampleInput">Studio Name</label>
            <input type="text" class="form-control" id="formGroupExampleInput" formControlName="studioName" placeholder="Studio Name">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="formGroupExampleInput">Date</label>
            <br>
            <div class="form-group mx-sm-3 mb-2">
              <label class="sr-only">Date</label>
              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="dateValue"
                  ngbDatepicker #d="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <p-footer>
      <button class="btn btn-sm btn-success" (click)="updateSchedule()" [disabled]="createForm.controls['dateValue'].invalid || createForm.controls['studioName'].invalid">Update</button>
      &nbsp;&nbsp;&nbsp;
      <button class="btn btn-sm btn-danger" (click)="displayEditSchedule=false">Close</button>
    </p-footer>
  </p-dialog>
</section>